*{
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.header{
  display: grid;
  background-color: rgb(140, 198, 200);
  grid-template-columns: 1fr auto 1fr;
  margin-bottom: 30px;
}

.logo{
  max-width: 280px;
  height: auto;
  margin-top: 10px;
  
}

@media screen and (max-width: 800px){
  .logo{
    display: none;
  }
  .navbar-links{
    margin: auto;
    margin-bottom: 20px;
  }
  .header{
    display: grid;
    background-color: rgb(140, 198, 200);
    grid-template-columns: 1fr ;
  }
  .user-profile{
    margin-left: 0px;
  }
}

.navbar-links{
  display: flex;
  gap: 1rem;
  background-color: rgb(140, 198, 200);
  align-items: center;
}

.navbar-links a{
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 4px;
  color: black;
  text-align: center;
}

.user-profile{
  display: flex;
  justify-content: center;
  background-color: rgb(140, 198, 200);
  flex-direction: column;
  align-items: center;
}

.user-avatar{
  width: 100px;
  height: 100px;
  border: black solid;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}

.page-title{
  background-color: rgb(140, 198, 200);
  position: static;
  text-align: center;
  width: auto;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  margin: 0;
}

