*{
  margin: 0;
}


.header{
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}

.logo{
  max-width: 280px;
  height: auto;
  margin-top: 10px;
}

@media screen and (max-width: 800px){
  .logo{
    display: none;
  }
  .user-logged-in{
    display: none;
  }
  .navbar-links{
    margin: auto;
    margin-bottom: 20px;
  }
  .user-avatar{
    width: 10%;
    height: 80px;
  }
}


@media screen and (max-width: 800px){
  .user-avatar{
    display: none;
  }
}

.user-logged-in{
  margin-right: 20px;
}

.navbar-links{
  display: flex;
  gap: 1rem;
  background-color: cadetblue;
  align-items: center;
}

.navbar-links a{
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 4px;
  color: black;
  text-align: center;
}

.user-avatar{
  width: 80%;
  height: 100px;
  border: black solid;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  margin-top: 10px;
}

.page-title{
  background-color: cadetblue;
  position: static;
  text-align: center;
  width: auto;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  margin: 0;
}

