.category-card{
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    background-color: rgb(221, 217, 211);
    text-align: center;
    height: auto;
    color: black;
}

.category-card-link{
    text-decoration: none;
}

.category-icon{
    padding: 10px;
}

#category-instruction{
    text-align: center;
}

@media screen and (min-width: 400px){
    .category-card{
        width: 400px;
    }
}

@media screen and (min-width: 1000px){
    .category-card{
        height: 170px;
    }
}