
.reviews-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px){
    .reviews-container{
        flex-direction: column;
        margin-left: 9%;
        margin-top: 20px;
    }
}

@media screen and (min-width: 250px){
    .reviews-container{
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
    }
}

.loading-statement{
    text-align: center;
    margin-top: 200px;
}

.filter-reviews-button{
    display: block;
    margin: auto;
}