.review-card{
    border: solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
}

.card-title{
    text-align: center;
}

.review-thumbnail{
    width: 250px;
    height: 200px;
    border-radius: 20px;
}

.review-info{
    text-align: center;
}

.view-full-review-button{
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-full-review-button-text{
    font-size: medium;
}


.view-full-review-button:hover{
    cursor: pointer;
}


