
.header{
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}

.logo{
  max-width: 300px;
  height: auto;
}

@media screen and (max-width: 800px){
  .logo{
    display: none;
  }
}

.login-reminder{
  margin-right: 20px;
}

@media screen and (max-width: 800px){
  .login-reminder{
    display: none;
  }
}

.navbar-links{
  display: flex;
  gap: 1rem;
  background-color: cadetblue;
  align-items: center;
}

.user-avatar{
  width: 80%;
  height: 100px;
  border: red solid;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}